@import "../utils/variables";

.team {
  flex-direction: column;
  align-items: center;
  @media screen and (min-width: 768px) {
    flex-direction: row;
    flex-flow: wrap;
    justify-content: center;
    display: flex;
    margin-right: -30px;
    margin-top: -30px;
  }
  @media screen and (min-width: 1200px) {
    display: flex;
    justify-content: center;
    flex-flow: unset;
  }
  &__header {
    color: $black;
    margin-bottom: 50px;
    font-weight: 700;
    font-size: 36px;
    text-align: center;
  }
  &__item {
    background-color: $white;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
    text-align: center;
    padding-bottom: 30px;
    align-items: center;
    margin-bottom: 30px;
    @media screen and (min-width: 1200px) {
      margin-right: 30px;
    }
    @media screen and (min-width: 1200px) {
      max-width: unset;
      align-items: unset;
      margin-bottom: 0px;
      margin-top: 0px;
    }
    @media screen and (min-width: 768px) {
      flex-basis: calc((100% - 60px) / 2);
      margin-right: 30px;
      margin-top: 30px;
    }
  }
  &__image {
    margin-bottom: 30px;
  }
  &__name {
    font-weight: 500;
    color: $black;
    font-size: 16px;
    line-height: 19px;
    margin-bottom: 10px;
  }
  &__description {
    color: $grey;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
  }
  &__social-media-buttons {
    margin-top: 16px;
    display: flex;
    justify-content: center;
  }

  &__social-media-links {
    @extend %transition-properties;
    color: $social-grey;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition-property: color, background-color;
    border-radius: 50%;
    width: 44px;
    height: 44px;
  }
}
